<div id="content">{{info.name}} has an id of {{info.id}} and is ranked: {{info.tier}} {{info.rank}} <img src={{info.tierIcon}}><br>
and his favourite champion is {{info.champName}}
</div>
 <style>
        body {
            background-image:url({{info.champIcon}});
            background-repeat: repeat;
            background-position: right top;
            text-align: center;
        }
     img{
         text-alignalignment: bottom;
     }
     content{
         background-color: aliceblue;
         color: black;
     }
 </style>