<html>
  <head>
     <link rel="stylesheet" type="text/css" href="/css/home.css">
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      
      function drawChart() {

        // Create the data table.
        var champName = "{{info.champName}}";
        var champPoints = {{info.champPoints}};
        var totalPoints = {{info.totalPoints}};
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Points Type');
        data.addColumn('number', 'Points');
        data.addRows([
          ['Total', totalPoints],
          [champName, champPoints]
        ]);

        // Set chart options
        var options = {'title':'Champion Mastery',
                       width: 250,
                       height: 250,
                       chartArea: {width: '94%', height: '80%'},
                       colors: ['#06b0ff', '#ff0a58'],
                       pieHole: 0.4,
                       backgroundColor: { fill:'transparent' },
                       titleTextStyle: {
                        color: '#ffdd06',    // any HTML string color ('red', '#cc00cc')
                        fontName: 'Calibri', // i.e. 'Times New Roman'
                        fontSize: 20, // 12, 18 whatever you want (don't specify px)
                                      },
                                       slices: {  1: {offset: 0.2},
                                                  12: {offset: 0.2},
                                    },
                        legend: 
                        {
                          textStyle:{color: 'ffdd06', fontSize: 16},
                           width: '100%',
                        },
                        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
<!--Div for visuals-->
    <div id = "visuals_div">
        {{#if info.tierIcon}}
      <div id="icon_div"><img src="{{info.champIcon}}" width="200" height="200"></div>
      <div id="chart_div"></div>
      <div id="rank_div"><img src="{{info.tierIcon}}" width="200" height="200"></div>
    </div>
  <body>
    <div id="content">{{info.name}} has an id of {{info.id}} and is ranked: {{info.tier}} {{info.rank}}
    <br>
    and his favourite champion is {{info.champName}}
    </div>
    <div class="row">
        <div class="column">
            <img  src={{info.top10ChampIcons.[0]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[1]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[2]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[3]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[4]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[5]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[6]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[7]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[8]}} >
        </div>
        <div class="column">
            <img  src={{info.top10ChampIcons.[9]}} >
        </div>
    </div>

  </body>
        {{/if}}
</html>

